*{
padding:0;
margin:0;
box-sizing:border-box;		
}


header{
	position:sticky;
	top:0;

	
}

.main{
	display:flex;
	background-image:url("./assets/common-strip.jpg");
	padding:5px;
	justify-content:space-between;
	
}

a{
	margin:20px;
	font-size:18px;
	color:black;
	text-decoration:none;
}
h1{
	font-size:20px;	
	margin-left:10px;
}

.header{
	display:flex;
	align-items:center;
	padding:-20px;
	justify-content:center;
	border-bottom:1px solid black;
	background-color:white;
}
img{
	width:100px;
	
}
.input{
	width:250px;
	height:40px;
	text-align:left;
	font-size:15px;
	font-weight:bold;
	margin-left:10%;
	border-radius:5px;
border:none;
background-color:#f0f0f0;
padding:10px;
}
button{
	width:80px;
	height:40px;
	background-color:#d90166;
	border-radius:10px;
	color:white;
	margin-left:2%;
	border:none;
	font-weight:bold;
	font-size:15px;
}
.bag{
	width:80px;
	height:40px;
	margin-left:50px;
}
.header-part3{
display:flex;
padding:4px 0px;
background-color:#ffffff;
box-shadow:2px 2px  2px gray;
justify-content:center;
	
}
.div2{
	color:#808080;
	font-size:15px;
	font-weight:bold;
}
.sale{
	height:30px;
	margin-top:10px;
}
.mid{
	width:1500px;
	margin-top:10px;
}
.hello{
	display:flex;
	gap:20px;
}
.perfume{
	width:420px;
	margin-left:40px;
	border-radius:10px;
}
.makeup{
	width:420px;
	border-radius:10px;
}
.beauty{
	width:420px;
	border-radius:10px;
}


.extra{
	width:1300px;
	margin-top:20px;
margin-left:40px;
}
.brands-main{
	display:flex;
	flex-direction:column;
}
.mega{
	
	width:1400px;
	padding-right:40px;
}
.brands{
	display:flex;
	gap:20px;
	background-color:#fff7d6;
	padding:40px;
	border-radius:5px;
	justify-content:center;
	
}
.nykaa{
	width:420px;
border-radius:10px;

}
.tilbury{
	width:420px;
 border-radius:10px;
 margin-right:40px;
}
.maybe{
	width:420px;
margin-left:60px;
border-radius:10px;		
}
.special{
	background-color:#ffffff;
}
.special-offers{
	width:1300px;

}
.loving{
	display:flex;
	gap:10px;
	justify-content:center;
	padding-bottom:60px;
	background-color:#ffffff;
}
.face-body{
	width:250px;
	border-radius:10px;
}
.facial-care{
	width:250px;
		border-radius:10px;
}
.glowup{
	width:250px;
	border-radius:10px;
}
.health-min{
	width:250px;
		border-radius:10px;
}
.hair{
	width:250px;
		border-radius:10px;
}
.caffiene{
	width:1350px;
}
.get{
	position:absolute;
	top:1800px;
	padding-left:20px;
	font-size:20px;
	
}
.buy{
	font-weight:bold;
	font-size:22px;
}
.off{
	display:flex;
	flex-direction:column;
}
.get-extra{
	display:flex;
	gap:20px;
	padding:20px;
	background-color:#fff7d5;
	padding-left:10px;
}
.perfumebody{
	width:200px;
	
}
.perfumes{
	width:210px;
	
	
}
.brightscrub{
width:200px;

}
.sunscreen{
	width:200px;
}
.brightbody{
	width:200px;
}
.tan{
	width:200px;
}
.luxe-main{
	background-color:#ffffff;
	padding-top:20px;
	
	
}
.luxe{
margin-top:10px;

	
}
.nykaaluxe{
	width:97vw;
}
.luxe-2{
	display:flex;
	gap:20px;
	justify-content:center;
	background-color:white;
	width:95vw;
}
.flawless{
	width:410px;
	border-radius:10px;
}
.tiblelips{
	width:410px;
	border-radius:10px;
}
.mac{
	width:410px;
		border-radius:10px;
	
}
.get-gifting{
	width:1300px;
}
.gifts{
	display:flex;
	gap:30px;
	margin-left:40px;
}
.gift-store{
	width:600px;
border-radius:20px;	
}
.gift-card{
	width:600px;
	border-radius:20px;	
	
}
.discover-offers{
	display:flex;
	margin-top:20px;
background-color:white;
width:98vw;
	
}
.new-at{
		width:90%;
	border-radius:10px;
}

.night-routine{
	display:flex;
	flex-direction:column;
	margin-top:20px;
	width:100vw;
}
.products{
	background-color:#493690;
	width:98vw;
}
.olay{
	width:200px;
}
.estura{
	width:200px;
}
.dot-key{
	width:200px;
}
.minimalist{
	width:200px;
}
.nykaaa{
	width:200px;
}
.skintype{
	display:flex;
	justify-content:center;
	margin-right:110px;
}
.glow-main{
	margin-top:20px;
}
.h2{
	margin-left:30px;
}
.glowing-skin{
border-radius:10px;
	width:95vw;	
}
.nykaa-skin{
width:180px;
}
.nykaa-tool{
width:180px;
}
.nykaa-hair{
width:180px;
}
.wander{
width:180px;
}
.nykaa-perfume{
	width:180px;
}
.nykaa-lips{
	width:180px;
}
.shopnow{
	display:flex;
	justify-content:center;
	margin-right:80px;
}
.shop{
	width:90vw;

}
.texte{
	display:flex;
	justify-content:center;
	margin-top:40px;
	margin-right:80px;
}
.text{
	width:90vw;
}
.nykaahello{
	font-size:25px;
	margin-left:50px;
	margin-top:30px;
}
.footer-main{
	background-color:#3a4047;
	width:100vw;
	padding:50px;
	color:white;
}
.experience-s{
	display:flex;
	gap:40px;
}
.app{
	color:white;
	margin-right:10px;
}
.emaile{
	color:black;
	background-color:white;
}
.get-p{
	color:white;
	font-size:16px;
}
.experience{
	font-size:15px;
	color:white;
}
.footer-2{
	display:flex;
	gap:15px;
}
.y-e{
	font-size:17px;
}
.sunday{
	font-size:15px;
}
.send-b{
	border:1px solid white;
	color:white;
	font-size:18px;
	border-radius:none;
	background-color:none;
}
